* {
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    user-select: none;
}

@font-face {
    font-family: 'Rascal';
    src: url('RASCAL__.TTF') format(truetype);
}

.title {
    font-family: 'Rascal';
    position: absolute;
    top: 15vh;
    left: 50vw;
    align-items: center;
    transform: translateX(-50%);
}

canvas {
    top: 60vh;
    width: 100vw;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}